::selection{
    background: orange;
    color: white;
}

::-moz-selection{
    background: orange;
    color: white;
}
html,body{
    height: auto;
}
    	.nav{
            width: 100%;
            position: fixed;
            height: 12%;
            align-items: center;
            background: linear-gradient(to right,#ffda2c,#ffb515);
            padding: 10px 30px;
            z-index: 20;
        }
        .navboong{
            width: 100%;
            height: 57px;
            visibility: hidden;
        }
        .logo{
            float: left;
        }
        .logo1{
            width: 60px;
            margin-right: 5px;
        }
        .logo2{
            height: 20px;
        }
        .media{
            margin-top: 5px;
            margin-left: 15px;
            float: left;
        }
    	.social{
    		height: 40px;
    		width: 40px;
    		margin-right: 10px;
    		padding-top: 3px;
    		border-radius: 100%;
    		border: 3px solid #ffb716;
    		background-color: #ffc543;
    		transition: 0.5s;
    	}
    	.social:hover{
    		background-color: #ffb716;
    	}
    	.link{
    		float: right;
    		margin-top: 10px;
    	}
        .logo3{
            width: 30px;
        }
        .logo3:hover{
            cursor: pointer;
        }
        .navpanel{
            position: fixed;
            z-index: 16;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            
            transition: transform .5s;
        }
        .panel1{
            height: 100%;
            width: 50%;
            display: none;
            transform: translateY(-100%);
            background: white;
        }
        .panel1_box{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 50%;
            overflow: hidden;
        }
        .panel1_box p{
            position: absolute;
            color: white;
            opacity: 0;
            margin-top: 10px;
            text-align: center;
            line-height: 1;
            font-size:8vw;
            transition: .2s;
        }
        .boxbawah {
            align-items: unset;
        }
        .boxbawah p{
            line-height: 1;
            font-size: 6vw;
            margin-top: 2vw;
        }
        .panel1_box:hover .panel1_overlay{
            opacity: 0.75;
        }
        .panel1_box:hover p{
            opacity: 1;
        }
        .panel1_overlay{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: #ff7623;
            opacity: 0;
            transition: all .5s;
            text-align: center;
        }
        .atas{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height:50%;
            background: #ff7623;
        }
        .bawah{
            top: 50%;
            width: 100%;
            height:50%;
            background: #412816;
        }
        .panel2{
            transform: translateY(100%);
            background: #ffdb5f;
            color: white;
            height: 100%;
        }
        .panel2_primary{
            position: absolute;
            left: 43px;
            top: 91px;
            font-size: 38px;
            line-height: 1.3;
        }
        .panel2_primary a{
            color: white;
            text-decoration: none;
            transition: .3s;
        }
        .panel2_primary a:hover{
            color: #ff8d4f;
        }
        .panel2_primary ul{
            list-style-type: none;
            padding: 0;
        }
        .panel2_socmed{
            position: absolute;
            bottom: 20px;
            margin: 0;
            display: flex;
            align-items: center;
            padding: 15px;
            width: 100%;
            height: 9%;
            background-color: #ff8f0c;
        }
        .panel-buka .navpanel{
            transform: translateY(3%);
        }
        @media (min-width: 1001px){
            .panel1{
                display: block;
                right: 50%;
            }
            .panel2{
                left: 50%;
            }
        }
        @media(min-width: 1024px){
            .panel2_primary{
                top: 113px;
            }
        }
        @media (max-width: 768px){
            .panel2 .media{
                display: block;
            }
            .navboong{
                display: none;
            }
            .panel2_socmed .social{
                display: inline-block;
                margin-top: -10px;
            }
        }
/*===================================================================================================*/
        .content{
            width: 100%;
            text-align: center;
        }
        /*===================================================================================================*/
    	.fav{
    		padding: 30px 30px;
    		width: 100%;
            height: 100%;
    		background-color: white; 
    	}
        .section{
            margin: 40px 0px;
        }
    	.section h3{
    		color: #ff9b0b;
            text-transform: uppercase;
            font-weight: bold;
    	}
        .section p{
            margin-top: 12px;
            font-weight: 500;
            line-height: 1.4;
            letter-spacing: 0.5px;
            font-size: 20px;
            color: black;
        }
        /*============================================================================================*/
        .foot{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;  
  background-color: rgb(29, 19, 0);
}
.gambarb{
    width: 50%;
    display: flex;
    justify-content: center;
}
.tengah{
    width: 20%;
}
.desk{
    width: 30%;
}
.desk a{
    font-family: 'Gotham';
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.desk a:hover{
    color: orange;
    text-decoration: none;
}

.desk p{
    font-family: 'Gotham';
    font-size: 15px;
    color: white;
}

        /*laptop biasa*/
        @media all and (max-width: 1024px){

        }
        /*tablet*/
        @media all and (max-width: 768px){
            .nav{
                position: sticky;
                top: 0;
                height: 57px;
                padding: 10px 10px;
                background: linear-gradient(to right,#ffda2c,#ffb515);
            }
            .media, .logo1{
                display: none;
            }
            .logo2{
                margin-top: 7px;
                height: 25px;
            }
            .logo3{
                width: 25px;
                margin-top: -15px;
            }
            .link{
                width: 20px;
            }
            /*===================================================================================*/
            .fav{
                width: 100%;
            }
            .section p{
                font-size: 16px;
            }
        }
        @media all and (max-width: 480px){
            .fav{
                padding: 20px;
            }
            .section p{
                font-size: 12px;
            }
            .foot{
                height: 180px;
            }
            .gambarb{
                display: none;
            }
            .tengah{
                display: none;
            }
            .desk{
                text-align: center;   
            }
        }
        @media all and(max-width: 320px){
            
        }